*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'arial',sans-serif;
}
body{
  background-color: skyblue;
  
}

.menu-icon{
  position: absolute;
  top: 40px;
  right: 10px;
  width: 40px;
  cursor: pointer;
}
/* Active state */
.menu-icon.active {
  background-color: lightblue;
  border-radius: 5px;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  background-color: skyblue;
}

h1{
  text-align: center;
  color: blue;
}
.menu-icon {
  width: 40px;
  cursor: pointer;
}

/* Menu style */
#menu {
  position: fixed;
  top: 60px;
  right: 0;
  background: white;
  width: 200px;
  display: none;
  box-shadow: 0 0 10px gray;
}

/* Show menu */
#menu.show {
  display: block;
}

#menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

#menu a:hover {
  background: lightgray;
}
.search-box {
  text-align: center;
  margin: 20px;
}

.search-box input {
  padding: 8px;
  width: 200px;
  font-size: 16px;
}

.search-box button {
  padding: 8px 15px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
  
}
.search-input {
  padding: 10px;
  width: 250px;
  font-size: 16px;
}

button {
  padding: 10px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}
h2{
   text-align: center;
  color: blue;
  margin-bottom: 20px;
}
span{
  color: red;
}
